@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.bg
{
    -fx-background-image: url(../uploads/bg.png);
    -fx-background-repeat: no-repeat;
}

.dash__side-bar {
    -fx-padding: 16px 18px;
    -fx-background-color: rgba(107, 175, 84, 0.1);
}

.text {
    -fx-font-size: 16px;
    -fx-font-weight: 800;
}
.nav-links {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-transition: all 2s ease;
    -fx-cursor: hand;
}
.nav-links {
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-transition: all 2s ease;
    -fx-cursor: hand;
}

.combo-box
{
    -fx-background-color: rgb(250, 250, 250);
    -fx-background-radius: 500px;
    -fx-font-size:16px ;
}

.nav-links:hover {
    -fx-background-color: rgba(45, 100, 33, 0.38);
}

.activeLink,
.activeLink:hover {
    -fx-background-color: #defee6;
}

.activeText {
    -fx-text-fill: #43882b;
}

.nav-user-fullname {
    -fx-font-size: 18px;
    -fx-font-weight: 800;
    -fx-fill: #fff;
}

.nav-icon {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.nav-icon:hover {
    -fx-background-color: rgba(107, 175, 84, 0.377);
    -fx-cursor: hand;
}


.dash__container-card {
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.ha
{
    -fx-font-size: 25px;
}

.hbox {
    -fx-background-color: transparent;
}

.hbox .column-header-background .filler {
    -fx-background-color: transparent;
}
.hbox .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #defee6, #defee6);
    -fx-background-radius: 7px 7px 7px 7px;
    -fx-background-insets: 0 0px 0 0;
    -fx-padding: 0 0 5px 0;
}
.hbox .column-header {
    -fx-background-color: transparent;
}
.hbox .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.hbox-cell:odd{
    -fx-background-color: #defee6;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.hbox-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.hbox .virtual-flow .scroll-bar:vertical,
.hbox .virtual-flow .scroll-bar:vertical .track,
.hbox .virtual-flow .scroll-bar:vertical .track-background,
.hbox .virtual-flow .scroll-bar:horizontal,
.hbox .virtual-flow .scroll-bar:horizontal .track,
.hbox .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.hbox .virtual-flow .scroll-bar .increment-button,
.hbox .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.hbox .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.hbox .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}
.table-row-cell:highlighted {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}

.hbox
{
    -fx-background-color: #cad2c5;
    -fx-border-color: #cad2c5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
.product-card-scrollPane {
    -fx-background: #fff;
    -fx-background-color: transparent;

}
.pie-chart {
    -fx-pie-chart-size: 200px; /* Adjust the size as needed */
}
.pie-chart-label {
    -fx-pie-slice-stroke: transparent;
}

.pie-chart-label:hover {
    -fx-pie-slice-stroke-width: 2.5;
}



.pane
{
    -fx-background-color: #defee6;
    -fx-border-color: #FFFFFF;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-effect: dropshadow(three-pass-box,#AAAAAA,2,0.5,0.5,2);
}

.btn_action_add
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}
.btn_action_del
{
    -fx-background-color: #cb1212;
    -fx-border-color: #cb1212;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(three-pass-box,#AAAAAA,3,0,0,3);
}


.btn_action_annuler
{
    -fx-background-color: #cb1212;
    -fx-border-color: #cb1212;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(three-pass-box,#AAAAAA,3,0,0,3);
}

.conseilItem {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.09), 25, 0, 2, 3);
    -fx-background-radius: 1000px;
    -fx-padding: 10px 18px;
}

.text-field {
    -fx-background-color: rgb(250, 250, 250);
    -fx-border-color: #defee6;
    -fx-border-radius: 500px;
    -fx-background-radius: 500px;
    -fx-font-size:16px ;
}
.text-area {
    -fx-background-color: rgb(250, 250, 250);
    -fx-border-color: #defee6;
    -fx-background-radius: 500px;
    -fx-font-size:16px ;
}

.label_upload
{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}


.btn_action_refresh
{
    -fx-background-color: #5b7cea;
    -fx-border-color: #5b7cea;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}



.btn_cat_btn
{
    -fx-background-color: transparent;
    -fx-background-radius: transparent;
}


.conseil__list-searchInput {
    -fx-background-color: #FFFFFF;
    /*-fx-border: 1px solid #defee6;*/
    -fx-border-color: #defee6;
    -fx-border-width: 1px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-pref-height: 40px;
    -fx-text-fill: #397425;
    -fx-fill: #397425;

    /*-fx-prompt-text-fill: hsla(157, 28%, 27%, 0.671);*/
    -fx-transition: border 0.5s;
}

.conseil__list-searchInput:focused {
    -fx-border-color: #43882b;
}

.addConseilModel {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.Add_Conseil_container
{
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}


.categoriesModel-card {
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.bg_add_container
{
    -fx-background-image: url(../uploads/bg.png);
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 7px 7px;
    -fx-background-insets: 0 0px 0 0;
    -fx-padding: 0 0 5px 0;
}

.scroll-pane
{
    -fx-background-color: transparent;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.item
{
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}

/* styles.css */

/* styles.css */

.slider .track {
    -fx-background-color: #43882b; /* Set the track color */
}

.slider .thumb {
    -fx-background-color: linear-gradient(to bottom, #6fa953 0%, #43882b 100%); /* Set gradient color for thumb */
    -fx-background-insets: 0, 1, 1; /* Add some shadow to the thumb */
    -fx-background-radius: 5; /* Set the thumb shape */
}

.slider .thumb:hover {
    -fx-background-color: linear-gradient(to bottom, #8fd87e 0%, #5a9e41 100%); /* Set gradient color for thumb on hover */
}


/* styles.css */

/* Style the VBox representing the cart */
.cart-vbox {
    -fx-background-color: #fff; /* Set the background color for the cart */
    -fx-border-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-padding: 10; /* Add some padding to the cart */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.09), 15, 0.1, 0, 0);
}

.cartItemConseil {
    -fx-background-color: #fff; /* Set the background color for the cart */
    -fx-border-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-padding: 10; /* Add some padding to the cart */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.09), 25, 0.1, 0, 0);
}

.btn_play_front
{
    -fx-background-color: #43882b;
    -fx-border-color: #43882b;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.btn_ajoutConseil
{
    -fx-background-color: #43882b;
    -fx-border-color: #43882b;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.anchor_video
{
    -fx-background-color: #defee6; /* Set the background color for the cart */
    -fx-border-color: #defee6;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-padding: 10; /* Add some padding to the cart */

    /* Add a more blurry drop shadow to the VBox */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 5, 5);
}


.productDetails__Container {
    -fx-background-radius: 60px;
    -fx-border-radius: 60px;
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.09), 15, 0.1, 0, 0);
}

.PaneFront {
    -fx-background-radius: 60px;
    -fx-border-radius: 60px;
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.09), 15, 0.1, 0, 0);
}

.reviewsContainer {
    -fx-background-color: #defee6;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.ReviewForm {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

.vbox_formReview {
    -fx-background-color: #fff;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}


